
@charset "utf-8";

body {
	font-family: 'Permanent Marker', cursive;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%; 
    width: 1004px;
	height: 1690px;
	margin: auto;

}

header{
	height: 125px;
	padding-left: 0px;
	padding-top: 75px;
	
}
marquee{
	color: red;
	font-size: 50px;
}
nav{
	
background-color: #8F17FF;
height: 70px;
width: 1004px;
border-radius: 25px;
font-size: 40px;

}

a{
       float: left;
       text-align: left;
       padding-right: 20px;
	   padding-left: 20px;
}

section{

background:rgba(90, 80, 241,0.3);
height: 300px;
width: 1004px;
border-radius: 15px;

}

.clear{
	clear: both;
}

footer{
	background:rgba(90, 80, 241,0.3);
    height: 60px;
	margin-top: 40px;
}
hr{
	color: #FFF;
}
h6{
	text-align: center;
	margin-top: 10px;
	color: #FFF;
}
	
table{
	width: 100%;
	border-spacing: 0px;
	color:white;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	border-radius: 100px;
	
}

table, th, td{
	border: 1.5px solid rgba(90, 80, 241,0);
	border-radius: 6px;
	border-collapse: collapse;
	
	
}
th, td{
	padding: px;
	
}
.table1 thead th{
	background:rgba(90, 80, 241,0.3);
	color: yellow;
	text-align: center;
}
.table1 tbody th{
	background:rgba(90, 80, 241,0.3);
	color: yellow;
	text-align: center;
}
.table1 tfoot td{
	background:rgba(90, 80, 241,0.3);
	font-size: 36px;
	text-align: center;
}
.table1 tfoot th{
	background:rgba(90, 80, 241,0.3);
	font-size: 36px;
	text-align: center;
}
.table1 tbody tr{
	background:rgba(90, 80, 241,0.3);
}
.contenido{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.iconos{
    flex-basis: calc(50% - 2rem);
    text-align: center;
}
.iconos1{
    flex-basis: calc(80% - 2rem);
    text-align: left;
}


p {
    color: #FFF;
	float: left;
       text-align: center;
       padding-right: 0px;
	   padding-left: 50px;
}
h4{
	float: left;
       text-align: center;
       padding-right: 0px;
	   padding-left: 40px;
	color:white;
	font-size:10;
}
h3{
	float: left;
	padding-left: 120px;
    font-size: 1.9rem;
    color: yellow;
}
.arroz{	

float: right;
       padding-top: 10px;
       padding-right: 0px;
	   padding-left: 0px;
	
}
.ceviche{
background:rgba(90, 80, 241,0.3);
height: 400px;
width: 1004px;
border-radius: 15px;

}
.tacacho{
	float: right;
       padding-top: 10px;
       padding-right: 0px;
	   padding-left: 0px;
}
label{
	color: white;
}

		